body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

#filterContainer {
    margin-bottom: 20px;
}
#newsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}
.news-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.news-description {
    font-size: 1em;
}

.image {
    width: 100%;
}
